@{
    ViewData["Title"] = "Početna";
}

<div class="text-center">
    <h1 class="display-4">Evidencija članova u teretani</h1>
    <p>
        Ovo je projekt iz kolegija "Programiranje na internetu". Tema ovog projekta jer evidencija članova unutra teretan. Evidjencija sadrži Ime i prezime člana, godinu rođenja, spol, razinu članarine (odnosi se koliko puta tjedno će član dolaziti na treninge), do kada vrijeme članarina te kakav tip treninga korisnik želi pohađati.
        U ovom projektu aplikaciju smo izradili korištenjem ASP.NET Core MVC framework-a (5.0 verzija) u C#. Aplikacija ima sadrži potpuno funkcionalne Model, View i Controller komponente, kao i pripadajuću bazu podataka.
    </p>
</div>