@{
    ViewData["Title"] = "O teretani";
}
<h1>@ViewData["Opcenito"]</h1>

<p>
    QUANTUM PREMIUM GYM TREŠNJEVKA se nalazi na adresi II zagorska 3a i prvi je u nizu Quantum Gymova u Hrvatskoj. Prostor se prostire na 250 četvornih metara i sadrži dvije dvorane od 65 kvadrata, prijemnog prostora i svlačionica za žene i muškarce. Visoki higijenski standardi su prisutni kao i vrlo ugodna gotovo obiteljska atmosfera. Svaki član ima svoje ime i prezime i rezervirano mjesto i zasluženu pažnju. Prisustvo mnoštvo članova istih obitelji potvrđuje navedeno. Kod nas će te pronaći tatu i kćer, mamu i sina, muža i ženu kako zajedno treniraju što smatramo našom jedinstvenošću. Iako možete izabrati termin prilikom upisa možete ga mijenjati kao i dan u koordinaciji sa trenerom. Imamo mnoštvo termina od zorom u 6h pa sve do posljednjeg u 20h. Potrebna Vam je dobra volja i odluka da nam se pridružite. Ako nemate motiva i u tome pomažemo redovitim komuniciranjem sa klijentima nudeći podršku.

    Stručni treneri svi imaju završeno osposobljavanje za trenera fitnessa u teretani u visikoj školi MAGISTRA. Također su certificirani i u Hard Body certifikaciji Master level.
</p>
