@{
    ViewData["Title"] = "Kriteriji za predaju projekta";
}
<h1>@ViewData["PIN"]</h1>

<p>
    Osnovna pravila:

    - II kolokvij se polaže predajom projekta koji se mora usmeno braniti pred profesorom

    - Studenti samostalno određuju temu i individualno izrađuju projekt (grupni projekti nisu predviđeni)

    - Projekt se predaje na zadnjem predavanju ili ispitnim rokovima (zimskim i jesenskim)

    - Projekt se ne šalje email-om već ga je potrebno staviti na vlastiti GitHub repozitorij prije odgovaranja (otvoriti GitHub račun ako već ne postoji)

    - Poveznica na GitHub repozitorij projekta šalje se mailom najkasnije dan prije predaje, moguće je i naknadno napraviti manje izmjene na projektu ali onda se te razlike moraju usmeno objasniti

    - Prilikom odgovaranja treba pokazati razumijevanje rješenja korištenih u projektu, kod se mora moći objasniti ili se pretpostavlja da student nije samostalno izradio projekt

    - Kod ocjenjivanja osim kvaliteta projekta uzima se u obzir i kvaliteta usmenog odgovora

    Projekt:

    - Projekt podrazumijeva izradu aplikacije korištenjem ASP.NET Core MVC framework-a (3.x verzija) u C#, ne koristiti obični ASP.NET niti druge skriptne jezike (Node.js, PHP, itd.)

    - Aplikacija mora biti smislena (npr. Videoteka,  Studentska evidencija, itd. ) a ne samo demonstracija tehnologije

    - Predana aplikacija mora biti završena i funkcionalna inače se neće razmatrati, ne smiju preostati sadržaji iz default template-a na stranicama (npr. Welcome to ASP.NET)

    - Predaje se izvorni kod aplikacije koji mora sadržavati README.md datoteku s osnovnim opisom aplikacije

    - Aplikacija mora sadržavati i potpuno funkcionalne Model, View i Controller komponente, kao i pripadajuću bazu podataka

    - Potrebno je koristiti Entity Framework kao i LINQ upite

    - View komponente moraju imati zajednički predložak

    - Projekt ne smije biti djelomično ili u cijelosti korišten u drugim kolegijima
</p>
