@{
    ViewData["Title"] = "Privatnost";
}
<h1>@ViewData["Privatnos"]</h1>

<p>Ova stranica je projekt koji je izradio student Matej Srdjak i služi isključivo u svrhe projekta iz kolegija "Programiranje na internetu".<p>
