@{
    ViewData["Title"] = "Evidencija clanova";
}

<div class="text-center">
    <h1 class="display-4">Evidencija člnova u teretani</h1>
    <p>Ovo je projekt iz kolegija "Programiranje na internetu" koji je izradio student Matej Srdjak</a>.</p>
</div>
